<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Home Page</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">File-Uploading Site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


        </div>
    </div>
</nav>

<div class="container">

    <th:block th:if="${session.msg}">
        <p class="text-center fs-4 text-success" >[[${session.msg}]]</p>
        <th:block th:remove="all"> </th:block>
    </th:block>


    <div style="text-align: center; margin-top: 20px ">
        <h1>Please Enter Your File !!!</h1>
    </div>
    <form th:action="@{/fileUpload}" th:method="post"  enctype="multipart/form-data" >

        <div class="mb-3">

            <input class="form-control" type="file" name="file"   required >
        </div>
        <div style="text-align: center" class="mt-3 ">
            <button  class="btn btn-warning">Upload</button>

        </div>
    </form>
</div>

<hr>


<div class="container">
    <div class="row">
        <div class="col-3" th:each="file:${list}">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{'img/'+${file.fileName}}" width="100%" height="100px" alt="">

                </div>
            </div>
        </div>
    </div>
</div>









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>